@model List<GetWorkListAllModel>
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
    <div class="card mt-2">
        <div class="card-header">
            @item.Name
        </div>
        <div class="card-body">
            <h5 class="card-title"><span class="text-danger">@item.Urgency.Description</span></h5>
            <p class="card-text">@item.Description</p>

            <p class="text-right">
                @if (item.Reports.Count > 0)
                {
                    <a class="btn btn-secondary btn-sm" asp-action="AddReport" asp-route-id="@item.Id"><i class="fas fa-plus-circle mr-2"></i>Rapor Ekle</a>
                    <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Raporlara Git <i class="fas fa-sort-down ml-2"></i> <span class="badge badge-dark ml-2">@item.Reports.Count</span>
                    </a>
                }
                else
                {
                    <span class="lead font-weight-bold d-block font-italic p-2 text-left mb-2">Hiç Rapor Yazmamışsınız</span>
                    <a asp-action="AddReport" asp-route-id="@item.Id" class="btn btn-light btn-sm"><i class="fas fa-check mr-2"></i>Rapor Yaz</a>
                }

                <button data-toggle="modal" data-target="#exampleModal" data-id="@item.Id" class="btn btn-dark btn-sm">Tamamlandı olarak işaretle</button>
            </p>
            <div class="collapse" id="collapseExample-@item.Id">
                <table class="table table-hover table-bordered table-sm">
                    <tr>
                        <th>Ad</th>
                        <th>Tanım</th>
                        <th>İşlem</th>
                    </tr>
                    @foreach (var report in item.Reports)
                    {
                        <tr>
                            <td>@report.Description</td>
                            <td>@report.Detail</td>
                            <td>
                                <a class="btn btn-warning btn-warning" asp-action="UpdateReport" asp-route-id="@report.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tamamlandı mı?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                Bu işlemi gerçekleştirmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnKaydet" type="button" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#exampleModal").on("show.bs.modal", function (event) {
                let triggerElement = $(event.relatedTarget);
                let id = triggerElement.data("id");

                $("#btnKaydet").click(function () {
                    $.ajax({
                        type: "get",
                        contentType: "application/json",
                        url: "/Member/WorkRules/CheckedWork",
                        data: { id: id },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.responseText);
                        }
                    });
                });
            });

        });
    </script>
}

