@model List<WorkIncludedListDto>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Count != 0)
{
    <table class="table table hover table-sm mt-2">
        <tr>
            <th>Isım</th>
            <th>Acıklama</th>
            <th>Tarih</th>
            <th>Personel</th>
            <th>Aciliyet</th>
            <th>Rapor</th>
            <th>Islem</th>
        </tr>
        @foreach (var work in Model)
        {
            <tr>
                <td>@work.Name</td>
                <td>@work.Description</td>
                <td>@work.CreatedDate.ToString("D")</td>
                <td>
                    @{
                        if (work.AppUser == null)
                        {
                            <span class="badge badge-danger">Personel Atanmadı</span>
                        }
                        else
                        {
                            <span class="badge badge-success">@work.AppUser.UserName çalışıyor</span>
                        }
                    }
                </td>
                <td>@work.Urgency.Description</td>
                <td>@work.Reports.Count</td>
                <td>
                    @{
                        if (work.AppUser == null)
                        {
                            <a class="btn btn-sm btn-warning" asp-route-id="@work.Id" asp-action="WorkDetail"><i class="fas fa-plus mr-2"></i>Personel Ata</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-info" asp-route-id="@work.Id" asp-action="WorkDetailWithReport"><i class="fas fa-info-circle mr-2"></i>Detay Goster</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="my-2 text-center lead">
        Görev bulunamadı
    </div>
}

