@model NLayer_Workflow.Entities.Concrete.Work

@{
    ViewData["Title"] = "WorkDetailWithReport";
}

@if (Model.Reports.Count()>0)
{
    <a  class="btn btn-sm btn-success my-2" asp-action="CreateExcel">Excel Dosyası Oluştur</a>
    <table class="table table-bordered table-striped table-hover table-sm ">
        <thead>
            <tr>
                <th class="text-center" colspan="2"><span class="font-italic">@Model.AppUser.Name @Model.AppUser.Surname</span> personelinizin <span class="font-italic">@Model.Name</span> adlı görev için oluşturduğu raporlar</th>
            </tr>
            <tr>
                <th>Tanım</th>
                <th>Detay</th>
            </tr>
        </thead>
       <tbody>
         @foreach (var item in Model.Reports)
         {
             <tr>
                 <td>@item.Description</td>
                 <td>@item.Detail</td>
             </tr>
         }
       </tbody>
    </table>
}
else
{
    <div class="border border-dark mt-2 text-center">
        @Model.AppUser.UserName adlı personel @Model.Name adlı görevde çalışıyor.Henüz bir rapor oluşturmamış.
    </div>
}

