@model List<WorkListModel>
@{
    ViewData["Title"] = "Index";
}

@if (Model.Count != 0)
{
    <a class="btn btn-info btn-sm my-1" asp-action="AddWork" asp-controller="Work"><i class="fas fa-plus mr-2"></i>Add Work</a>
    <table class="table table-sm table-hover">
        <tr>
            <th>Ad</th>
            <th>Acıklama</th>
            <th>Oluşturulma Tarihi</th>
            <th>Urgency</th>
            <th>Islem</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate.ToString("D")</td>
                <td>@item.Urgency.Description</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="WorkUpdate" asp-controller="Work" asp-route-id="@item.Id"><i class="fas fa-edit mr-1"></i>Update</a>
                    <button type="button" data-toggle="modal" data-delete="@item.Id" data-target="#deleteScreen" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3">
        <p class="lead">
            Herhangi bir görev bulunamadı
        </p>
        <a class="btn btn-info btn-sm" asp-action="AddWork" asp-controller="Work"><i class="fas fa-plus mr-1"></i>Add Work</a>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="deleteScreen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnDelete" type="button" class="btn btn-primary">Sil</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 

    <script type="text/javascript">
        $(document).ready(function() {
            $("#deleteScreen").on("show.bs.modal", function (event) {
                let triggerElement = $(event.relatedTarget);
                let id = triggerElement.data("delete");

                $("#btnDelete").click(function ()
                {
                    $.ajax({
                        type: "GET",
                        url: "/Admin/Work/WorkDelete",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json;",
                        success: function () {
                            alert("İşlem Başarılı");
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    });
                });
            });
        });
    </script>

}

